# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.vscode

# testing
/coverage

# production
/build/node_modules
/server/node_modules
/server/logs/log.log
/src/#*
#*
*.*~
yarn.lock
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
