.itemframeback {
    background-color: #fff;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    border-color: rgba(34,34,34,.05);
    border-width: medium;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    float: left;
    width: 280px;
    /*height: 160px;*/
    margin: 20px;
}

.itemheader {
  border-bottom-color: rgba(34,34,34,.05);
  border-bottom-width: medium;
  border-bottom-style: solid;
}

td {
  padding: 2px;
  padding-right: 10px;
}
